:root {
  /* ===== BRAND COLORS ===== */
  
  --color-bg-main: #f9f6f1;
  --color-bg-light: #ffffff;
  --color-bg-section: #f2ede7;  

  --color-primary: #5c3a21;      /* deep brown */
  --color-accent: #c9a227;       /* soft gold */
  --color-text-main: #222222;
  --color-text-muted: #6b6b6b;

  --color-border-light: #e5e5e5;

  /* ===== TYPOGRAPHY ===== */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Poppins', sans-serif;

  --font-size-xl: 3rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.2rem;
  --font-size-sm: 0.95rem;

  /* ===== SPACING ===== */
  --section-padding: 5rem 1.5rem;
  --container-width: 1200px;

  /* ===== SHADOWS ===== */
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-medium: 0 8px 24px rgba(0, 0, 0, 0.12);

  /* ===== TRANSITIONS ===== */
  --transition-fast: 0.3s ease;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
.page-wrapper{
    min-height: 68vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-main);
    padding: 10px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo img{
    height: 80px;
    width: auto;
    display: block;
}
.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: var(--color-accent);
    font: var(--font-body);
}
.nav-links a:hover{
    color: var(--color-text-main);
    transition: var(--transition-fast);
}
.btn{
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover{
    background-color: var(--color-accent);
    transition: var(--transition-fast);
}
.menu-btn{
    display: none;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 60px;
    min-height: 105vh;
    padding: var(--section-padding);
    background-color: var(--color-bg-section);
}
.hero-texts{
    color: var(--color-bg-section);
}
.hero-texts h1{
    padding-bottom: 20px;
    color: var(--color-primary);
    font: var(--font-heading);
    font-size: var(--font-size-xl);
}
.hero-texts p{
    padding-bottom: 20px;
    color: var(--color-text-main);
    font: var(--font-body);
    font-size: var(--font-size-md);
}
.hero-btn{
    background-color: var(--color-accent);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
.hero-btn:hover{
    background-color: var(--color-primary);
    transition: var(--transition-fast);
}
.hero-img{
    width: 100%;
    height: auto;
}
.hero-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--shadow-soft);
}

.reveal{
    opacity: 0;
    animation: slideUpFade 0.7s ease forwards;
    will-change: transform, opacity;
}
@keyframes slideUpFade {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
        to{
        opacity: 1;
        transform: translateY(0);
    }
}
.reveal2{
    opacity: 0;
    animation: slideLeftFade 0.7s ease forwards;
}
@keyframes slideLeftFade {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }
        to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* services */
.services-header{
    text-align: center;
    padding: 20px 0;
    color: var(--color-primary);
    font-size: var(--font-size-lg);
    font-family: var(--font-heading);
}
.services{
    padding: var(--section-padding);
    background-color: var(--color-bg-light);
}

.services h2{
    text-align: center;
    padding-bottom: 20px;
    color: var(--color-primary);
    font: var(--font-heading);
    font-size: var(--font-size-lg);
}
.services p{
    text-align: center;
    padding-bottom: 40px;
    color: var(--color-text-main);
    font: var(--font-body);
    font-size: var(--font-size-md);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    
}
.service-card{
    border-radius: 10px;
    box-shadow: var(--shadow-medium);
    overflow: hidden;
    padding: 10px;
    background: linear-gradient(120deg, rgba(248, 101, 3, 0.5), rgba(255, 255, 255, 0.5), rgba(97, 40, 2, 0.5));
    background-size: 300% 300%;
    animation: gradientMove 20s ease infinite;
    animation-play-state: paused;
    opacity: 0;
    transform: translateY(25px);
    transition:
    opacity 0.6s ease,
    transform 0.6s ease,
    box-shadow 0.6s ease;
}
@keyframes gradientMove {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.service-card.show {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
animation-play-state: running;
}
.service-card:hover{
    transform:translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}
.service-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--shadow-soft);
}
.view-all{
    display: grid;
    place-items: center;
}
.view-all a{
    text-decoration: none;
    color: var(--color-bg-light);
    font-size: var(--font-size-sm);
}
.view-all a:hover{
    color: var(--color-text-muted);
}
.view-btn{
    padding: 10px;
    margin-top: 30px;
    background: var(--color-primary);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: var(--shadow-medium);
}
.view-btn:hover{
    transition: var(--transition-fast);
    background-color: var(--color-accent);
}

/* cta */
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: var(--section-padding);
    text-align: center;
    border-radius: 20px;
    box-shadow: var(--shadow-medium);
background: var(--color-bg-light)
}

.cta-texts h3{
    padding-bottom: 20px;
    font-size: var(--font-size-lg);
    color: var(--color-primary);
    font-family: var(--font-heading);
}
.cta-texts p{
    padding-bottom: 20px;
    color: var(--color-text-main);
    font-size: var(--font-size-md);
    font-family: var(--font-body);
}
.learn-more a{
    text-decoration: none;
    color: var(--color-bg-light);
    font-size: var(--font-size-sm);
}
.learn-more a:hover{
    color: var(--color-text-muted);
}
.learn-more{
    padding: 10px;
    background: var(--color-primary);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: var(--shadow-medium);
}
.learn-more:hover{
    transition: var(--transition-fast);
    background-color: var(--color-accent);
}  



/* SERVICES PAGE */
.services-hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url(../Images/LOGOS/servicehero.png) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: #fff;
}
.services-hero-content {
    margin-top: 100px;
}
.services-hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.services-hero-content p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.6;
}
.btn-primary {
  background-color: var(--color-accent);
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: var(--font-size-md);
}
.btn-primary:hover {
  background-color: var(--color-primary);
  transition: var(--transition-fast);
}

/* gallery page */

.gallery-hero {
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
min-height: 80vh;
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url(../Images/LOGOS/galleryhero.png) center/cover no-repeat;
  text-align: center;
  padding: 20px;
  color: #fff;
}
.gallery-hero h1 {
  font-size: 2.5rem;
  margin-top: 70px;
  margin-bottom: 20px;
}
.gallery-hero p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.6;
}
.gallery-header {
    text-align: center;
    padding: 40px 0 20px;
    color: var(--color-primary);
    font-size: var(--font-size-lg);
    font-family: var(--font-heading);
}
.gallery{
    padding: var(--section-padding);
    background-color: var(--color-bg-light);
    column-count: 5;
    column-gap: 1rem;
}
.gallery img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-soft);
    transition: transform 0.3s ease;
}
.gallery img:hover{
    transform: scale(1.05);
}


/* about */
.about-section {
  padding: 120px 5% 80px;
  margin-top: 50px;
  background: #f9f9f9;
}

.about-wrapper {
  max-width: 1100px;
  padding: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  align-items: center;
  box-shadow: var(--shadow-medium);
}

.about-left img {
  width: 100%;
  border-radius: 16px;
  display: block;
  box-shadow: var(--shadow-medium);
}

.about-title {
  font-size: var(--font-size-xl);
  font-family: var(--font-heading);
  color: #c9a227;
  margin-bottom: 1rem;
}

.about-description {
  line-height: 1.7;
  margin-bottom: 1rem;
  color: var(--color-text-main);
  font-size: var(--font-size-sm);
}

.about-numbers {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.about-numbers h3 {
  margin-bottom: 0.3rem;
}

.about-numbers span {
  font-size: 0.9rem;
  color: #666;
}



/* contact page */
.contact-section {
  padding: 150px 5%;
  background: #fff;
}

.contact-wrapper {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.contact-wrapper h1 {
  font-size: clamp(2rem, 4vw, 2.8rem);
  margin-bottom: 1rem;
  color: var(--color-accent);
}

.contact-wrapper p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  align-items: center;
}

.contact-info a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.contact-info a:hover {
  color: #ff6f61; /* optional accent color */
}

.contact-image img {
  width: 100%;
  border-radius: 16px;
  box-shadow: var(--shadow-medium)
}


.site-footer {
  background: var(--color-bg-section);
  padding: 70px 5% 25px;
  margin-top: 80px;
}

.footer-container {
  max-width: 1100px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-medium);
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-logo {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer-tagline {
  color: #777;
  font-size: 0.95rem;
}

.footer-right {
  display: flex;
  gap: 1rem;
}

.social-link {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  transition: all 0.3s ease;
}

.social-link:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  font-size: 0.85rem;
  color: #888;
}

h1{ font-size: clamp(2rem, 5vw, 3rem);}
h2{ font-size: clamp(1.5rem, 4vw, 2.5rem);}
h3{ font-size: clamp(1.2rem, 3vw, 2rem);}
 
p{ font-size: clamp(0.9rem, 2.5vw, 1.1rem);}
.btn-primary, .btn, .hero-btn, .view-btn{ font-size: clamp(0.9rem, 2vw, 1rem);}
.hero-texts h1{ font-size: clamp(2rem, 5vw, 3rem);}
.services-hero-content h1{ font-size: clamp(2rem, 5vw, 3rem);}
.services-hero-content p{ font-size: clamp(0.9rem, 2.5vw, 1.1rem);}
.gallery-hero p{ font-size: clamp(0.9rem, 2.5vw, 1.1rem);}
.gallery-hero h1{ font-size: clamp(2rem, 5vw, 3rem);}
.about-title h1{ font-size: clamp(2rem, 5vw, 3rem);}
.cta-texts h3{ font-size: clamp(1.2rem, 3vw, 2rem);
}
.about-right h1{ font-size: clamp(2rem, 5vw, 3rem);}

.cta-texts p{
 font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}
.service-card h2{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}
.service-card p{
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}


.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background: #25D366;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  text-decoration: none;
  box-shadow: 0 10px 30px rgba(37, 211, 102, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}
.whatsapp-float::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #25D366;
  border-radius: 50%;
  z-index: -1;
  animation: glowPulse 2.5s infinite;
  opacity: 0.6;
}

@keyframes glowPulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.whatsapp-float:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(37, 211, 102, 0.6);
}

@media(max-width: 768px){
    .hero{
    grid-template-columns: 1fr ;
    padding: 20px;
    padding-top: 150px;
    }
    .nav-links{
    display: none;
}
.menu-btn{
    display: block;
    cursor: pointer;
    font-size: var(--font-size-lg);
    color: var(--color-primary);
}
.nav-links.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 99px;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: end;
    padding: 20px;
    border-radius: 5px;
}
.nav-links.active li{
    margin-bottom: 10px;
}
.nav-links.active a{
    font-size: 1rem;
    font-weight: bolder;
}
.gallery{
    column-count: 3;
}
.btn a{
    font-size: 1rem;
}
}